@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

* {
  font-family: "Source Sans 3", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

header {
  background-image: url(./images/hero_background.jpg);
}

header,
.our-results {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

nav,
.hero,
.what-we-do,
.results,
.contact-us,
.footer-section {
  max-width: 1000px;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  position: relative;
}

.menu-toggle {
  display: none;
}

.hamburger {
  cursor: pointer;
  display: none;
}

nav img,
.footer-icons img {
  height: 32px;
  width: auto;
}

.menu {
  list-style-type: none;
  display: flex;
}

.menu li {
  margin-left: 2.7rem;
}

.menu a {
  text-decoration: none;
  font-size: 0.85rem;
  color: white;
}

nav a:hover,
nav a:active {
  color: #ff6565;
}

.hero {
  text-align: center;
  color: white;
  padding: 0 2rem 1.5rem;
}

.hero h1 {
  font-size: 2rem;
  margin: 18rem 0 -0.25rem;
}

.hero h1 + p {
  margin-bottom: 2.4rem;
}

.call-to-action {
  color: white;
  background-color: #ff6565;
  border: none;
  padding: 0.75rem 2rem;
  font-weight: 600;
  border-radius: 1.375rem;
  font-size: 0.875rem;
  cursor: pointer;
}

.call-to-action:hover,
.call-to-action:active {
  opacity: 0.9;
}

.hero a {
  box-shadow: 5px 5px 20px #223;
  text-decoration: none;
}

.hero a + p {
  padding: 0 10rem 5.5rem;
  line-height: 1.7rem;
  font-weight: 300;
  margin-top: 4.5rem;
}

.what-we-do {
  text-align: center;
  padding: 7rem 0.25rem;
}

.what-we-do h2,
.results h2,
.contact-us h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2.5rem;
}

.what-we-do h2 + p {
  padding: 0 11rem 6rem;
  line-height: 1.7rem;
}

.works,
.percentages {
  display: flex;
  gap: 4rem;
  flex-wrap: wrap;
  justify-content: center;
}

.work,
.percentage {
  width: 200px;
}

.work span {
  color: #ff6565;
  font-size: 6.5rem;
}

.work h3 {
  font-size: 1.125rem;
  margin: 1rem 0;
}

.work p {
  font-size: 0.875rem;
  line-height: 1.7rem;
}

.our-results {
  background-image: url(./images/results_background.jpg);
}

.results {
  text-align: center;
  color: white;
  padding: 8rem 0.25rem 5.5rem;
}

.results h2 + p {
  padding: 0 11rem 3.5rem;
  line-height: 1.7rem;
}

.percentage {
  position: relative;
}

.pentagon {
  width: 190px;
  height: 190px;
  background-color: #ff6565;
  clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}

.percentage-details {
  position: absolute;
  top: 4rem;
  left: 2.5rem;
}

.percentage-details span {
  font-size: 3rem;
  font-weight: bold;
}

.percentage-details p {
  font-size: 0.875rem;
}

.contact-us {
  padding: 7rem 1rem 3.5rem;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input {
  display: block;
  margin-bottom: 3rem;
  border-width: 0 0 1px;
  border-color: #979797;
  outline: none;
  width: 100%;
  max-width: 335px;
  padding-bottom: 0.5rem;
  font-size: 1rem;
}

form input::placeholder {
  color: black;
  font-size: 0.875rem;
  font-weight: 600;
}

form button {
  margin: 0.5rem 0 5rem;
}

footer {
  background-color: #071629;
  text-align: center;
  color: #979797;
}

.footer-section {
  padding: 5.5rem 1rem 2.5rem;
}

.footer-icons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.socials span {
  color: white;
  font-size: 2rem;
  margin-left: 1rem;
}

.footer-section p {
  font-size: 0.75rem;
}

@media (max-width: 834px) {
  nav {
    padding: 1.5rem 2.5rem;
  }

  .menu li {
    margin-left: 1.4rem;
  }

  .hero {
    padding: 0 2.5rem;
  }

  .hero h1 {
    font-size: 1.9rem;
  }

  .hero a + p {
    padding: 0 1rem 5.5rem;
  }

  .what-we-do {
    padding: 7rem 2rem;
  }

  .what-we-do h2 + p {
    padding: 0 1rem 6rem;
  }

  .results {
    padding: 8rem 2rem 5.5rem;
  }

  .results h2 + p {
    padding: 0 1rem 6rem;
  }

  .footer-section {
    padding: 5.5rem 2rem 2.5rem;
  }
}

.work,
.percentage {
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.work:hover,
.percentage:hover {
  transform: scale(1.1);
}

@media (max-width: 500px) {
  nav {
    justify-content: left;
    padding: 1rem;
  }

  .hero {
    padding: 0 1rem;
  }

  .hero h1 {
    margin-top: 15rem;
  }

  .hero h1 + p {
    padding: 0 2.5rem;
  }

  .hero a + p {
    padding: 0 0.5rem 5.5rem;
  }

  .hamburger {
    display: block;
    margin-right: 1.5rem;
    margin-top: 0.4rem;
  }

  .hamburger .close,
  .menu {
    display: none;
  }

  .menu li {
    margin-left: 0;
    margin-bottom: 2rem;
  }

  .menu a {
    font-size: 1.075rem;
  }

  .menu-toggle:checked ~ .menu {
    display: flex;
    position: absolute;
    top: 5rem;
    left: 0;
    width: 100%;
    text-align: center;
    flex-direction: column;
  }

  .menu-toggle:checked + .hamburger .open {
    display: none;
  }

  .menu-toggle:checked + .hamburger .close {
    display: block;
    margin-bottom: 0.375rem;
  }

  .what-we-do h2 + p {
    padding: 0 0.5rem 6rem;
  }

  .results h2 + p {
    padding: 0 1rem 6rem;
  }

  .footer-section {
    padding: 3rem 1rem 2.5rem;
  }

  .footer-icons {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    margin-bottom: 2.5rem;
  }
}
