body,
main {
  display: flex;
}

body {
  flex-direction: column;
}

main {
  flex: auto;
}

article {
  flex: 2;
}

aside {
  flex: 1;
}

article,
aside {
  overflow-y: auto;
}

@media (max-width: 800px) {
  body.works_on_smartphone {
  	display: block;
  }
  body.works_on_smartphone main {
  	display: block;
  }
}

span {
  color: rgb(221, 73, 110);
}

header {
  background-color: #eee;
}
